playbook-AWS_copy.yml
id: 9a78b2a7-3b2f-4c11-80e2-6e9fa4459050
version: 76
name: AWS_copy
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 54aaba2a-3d31-40c0-87d8-31be088acd81
    type: start
    task:
      id: 54aaba2a-3d31-40c0-87d8-31be088acd81
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -564,
          "y": -112
        }
      }
    note: false
  "1":
    id: "1"
    taskid: 22e4296f-b4f0-4541-83bf-63e8e5e76636
    type: regular
    task:
      id: 22e4296f-b4f0-4541-83bf-63e8e5e76636
      version: -1
      name: Extract Public IP
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
      - "43"
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: 'AssetDetails.PublicIP= '
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"IpAddressV4":"(.*?)\"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 414,
          "y": 275
        }
      }
    note: false
  "2":
    id: "2"
    taskid: 3e9967e6-77ba-482b-8139-2553bfb4986a
    type: regular
    task:
      id: 3e9967e6-77ba-482b-8139-2553bfb4986a
      version: -1
      name: ip reputation
      script: VirusTotal|||ip
      type: regular
      iscommand: true
      brand: VirusTotal
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      fullResponse: {}
      ip:
        simple: ${AssetDetails.PublicIP}
      long: {}
      retries: {}
      sampleSize: {}
      threshold: {}
      using:
        simple: VirusTotal_instance_1
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 701,
          "y": 1023
        }
      }
    note: false
  "3":
    id: "3"
    taskid: 469d00d9-4891-43ec-84ef-fc85944d7893
    type: regular
    task:
      id: 469d00d9-4891-43ec-84ef-fc85944d7893
      version: -1
      name: Extract Location Details
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Service}
      extend-context:
        simple: Country=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"CountryName":"(.*?)\"\}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1318,
          "y": 275
        }
      }
    note: false
  "6":
    id: "6"
    taskid: a0c1b5ac-e141-46cc-8c1d-a9c90c916fb6
    type: condition
    task:
      id: a0c1b5ac-e141-46cc-8c1d-a9c90c916fb6
      version: -1
      name: Is Malicious?
      script: IsMaliciousIndicatorFound
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "45"
      "yes":
      - "7"
      - "48"
    scriptarguments:
      includeSuspicious:
        simple: "yes"
      maliciousQueryOverride: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 704,
          "y": 1196
        }
      }
    note: false
  "7":
    id: "7"
    taskid: 1223d400-ee00-46ce-8f05-878d0401455e
    type: regular
    task:
      id: 1223d400-ee00-46ce-8f05-878d0401455e
      version: -1
      name: Assign it to user / send it to watch list/block it
      script: Builtin|||addToList
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      listData:
        simple: ${AssetDetails.PublicIP}
      listName:
        simple: suspiciousip
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1081,
          "y": 1592
        }
      }
    note: false
  "12":
    id: "12"
    taskid: 8282c1d7-8c59-4e6c-8c72-189afe2185bd
    type: condition
    task:
      id: 8282c1d7-8c59-4e6c-8c72-189afe2185bd
      version: -1
      name: waiting for admin confirmation
      script: EmailAskUserResponse
      type: condition
      iscommand: false
      brand: ""
    scriptarguments:
      responseEntryId: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 321,
          "y": 2295
        }
      }
    note: false
  "13":
    id: "13"
    taskid: 205e7c1f-5b59-4d8d-8fa0-813a9b906476
    type: condition
    task:
      id: 205e7c1f-5b59-4d8d-8fa0-813a9b906476
      version: -1
      name: Is location details same?
      script: AreValuesEqual
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "2"
    scriptarguments:
      extend-context: {}
      left:
        simple: ${IP.Geo.Country}
      right:
        simple: ${CountryCode}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 701,
          "y": 770
        }
      }
    note: false
  "15":
    id: "15"
    taskid: e9685170-8046-406f-846f-f721b60041a5
    type: regular
    task:
      id: e9685170-8046-406f-846f-f721b60041a5
      version: -1
      name: Check location details from IP
      script: ipinfo|||ip
      type: regular
      iscommand: true
      brand: ipinfo
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      ip:
        simple: ${AssetDetails.PublicIP}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 414,
          "y": 445
        }
      }
    note: false
  "17":
    id: "17"
    taskid: 0fbdadf8-7b4b-4a97-8dd5-797649441de1
    type: regular
    task:
      id: 0fbdadf8-7b4b-4a97-8dd5-797649441de1
      version: -1
      name: send email notification to AWS Admin with name, IP and Location Details
      script: EWS Mail Sender|||send-mail
      type: regular
      iscommand: true
      brand: EWS Mail Sender
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body: {}
      cc: {}
      extend-context: {}
      htmlBody:
        simple: |-
          Hi Team,<br />
          An investigation with id - <b>"${incident.id}"</b> has been opened inside Demisto.<br />
          We have observed RDP connection from External IP-<b> "${AssetDetails.PublicIP}" </b> belonging to <b>"${Country}"</b> to Internal server <b>"${AssetDetails.PrivateIP}"</b>  with below details:
          <br />

          Below are the Asset details:
          <head>
          <style>
          table, th, td {
              border: 1px solid black;
          }
          </style>
          </head>
          <body>
          ${HTMLTable.[0]}
          </body>
          <br />
          <br />
          Below are the PortDetails:
          <head>
          <style>
          table, th, td {
              border: 1px solid black;
          }
          </style>
          </head>
          <body>
          ${HTMLTable.[1]}
          </body>
          <br />
          <br />


          We have observed that RDP port <b>"${PortDetails.Protocol}"/"${PortDetails.Port}"</b> is opened on the server, please take necessary steps before moving the server to the production environment.<br />
          <br />
          Regards,<br />
          Demisto Automation<br />
      replyTo: {}
      subject:
        simple: RDP Connection
      to:
        simple: shamili.r56@wipro.com
      using:
        simple: EWS Mail Sender_Banupriya
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 321,
          "y": 2117
        }
      }
    note: false
  "19":
    id: "19"
    taskid: c6f2aac6-5005-4ccd-80c8-6a4dfda302dc
    type: regular
    task:
      id: c6f2aac6-5005-4ccd-80c8-6a4dfda302dc
      version: -1
      name: Conversion country name
      script: bfe3b7f7-6f6d-4f90-82a2-58ea9f3af18d
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      Country:
        simple: ${Country}
      extend-context:
        simple: CountryCode=
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1308,
          "y": 490
        }
      }
    note: false
  "20":
    id: "20"
    taskid: e15d3f8c-b853-4aab-8c2a-c5e860c5e92c
    type: title
    task:
      id: e15d3f8c-b853-4aab-8c2a-c5e860c5e92c
      version: -1
      name: Close Investigation
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1318,
          "y": 1789
        }
      }
    note: false
  "22":
    id: "22"
    taskid: c9098207-c24a-4970-8a59-461c6603d878
    type: regular
    task:
      id: c9098207-c24a-4970-8a59-461c6603d878
      version: -1
      name: Extract Port Name
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Service}
      extend-context:
        simple: PortDetails.PortService=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"LocalPortDetails":\{"PortName":\"(.*?)\"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -959,
          "y": 513
        }
      }
    note: false
  "23":
    id: "23"
    taskid: e3e50639-dfef-4946-86d3-5bd4e0e40d71
    type: regular
    task:
      id: e3e50639-dfef-4946-86d3-5bd4e0e40d71
      version: -1
      name: Extract Port
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Service}
      extend-context:
        simple: PortDetails.Port=
      flags: {}
      group:
        simple: "2"
      regex:
        simple: '"LocalPortDetails":\{"PortName":(.*?)\,"Port":(.*?)}\,'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -162,
          "y": 686
        }
      }
    note: false
  "24":
    id: "24"
    taskid: 861682dc-9d37-4820-8f40-281504d00de9
    type: regular
    task:
      id: 861682dc-9d37-4820-8f40-281504d00de9
      version: -1
      name: Is Blocked?
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Service}
      extend-context:
        simple: PortDetails.Blocked=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"Blocked":(.*?)\}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -184,
          "y": 513
        }
      }
    note: false
  "25":
    id: "25"
    taskid: 509d7c25-80f1-42aa-8bf1-324b6ce38df0
    type: title
    task:
      id: 509d7c25-80f1-42aa-8bf1-324b6ce38df0
      version: -1
      name: RDP Details
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "22"
      - "23"
      - "24"
      - "44"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -564,
          "y": 337
        }
      }
    note: false
  "26":
    id: "26"
    taskid: 01370fbd-a9fe-4f7c-8273-0012cb7d835c
    type: title
    task:
      id: 01370fbd-a9fe-4f7c-8273-0012cb7d835c
      version: -1
      name: Asset details
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "27"
      - "28"
      - "29"
      - "30"
      - "31"
      - "32"
      - "35"
      - "38"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -2263,
          "y": 290
        }
      }
    note: false
  "27":
    id: "27"
    taskid: 118945a8-d521-4e36-8aaa-767b22cc1ce6
    type: regular
    task:
      id: 118945a8-d521-4e36-8aaa-767b22cc1ce6
      version: -1
      name: Resource Type
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.ResourceType=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"ResourceType":\"(.*?)\"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1971,
          "y": 463
        }
      }
    note: false
  "28":
    id: "28"
    taskid: a4f11651-9d41-4284-8292-709178426565
    type: regular
    task:
      id: a4f11651-9d41-4284-8292-709178426565
      version: -1
      name: 'Instance Details : Launch Time'
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.LaunchTime=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"LaunchTime":\"(.*?)\"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1961,
          "y": 631
        }
      }
    note: false
  "29":
    id: "29"
    taskid: 649edfdf-95a5-444a-8b28-9b72495dd023
    type: regular
    task:
      id: 649edfdf-95a5-444a-8b28-9b72495dd023
      version: -1
      name: Availability Zone
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.AvailabilityZone=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"AvailabilityZone":\"(.*?)\"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1961,
          "y": 828
        }
      }
    note: false
  "30":
    id: "30"
    taskid: f19eb10e-9f44-4dc0-84c5-6eb951089a9e
    type: regular
    task:
      id: f19eb10e-9f44-4dc0-84c5-6eb951089a9e
      version: -1
      name: Instance Id
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.InstanceId=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"InstanceId":\"(.*?)\"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1971,
          "y": 976
        }
      }
    note: false
  "31":
    id: "31"
    taskid: 5186c110-02d7-4a95-8fae-ea4a626377d8
    type: regular
    task:
      id: 5186c110-02d7-4a95-8fae-ea4a626377d8
      version: -1
      name: Platform
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.Platform=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"Platform":\"(.*?)\"'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1961,
          "y": 1138
        }
      }
    note: false
  "32":
    id: "32"
    taskid: 2a19cb7c-2496-4bbb-8284-a0766e6fa14c
    type: title
    task:
      id: 2a19cb7c-2496-4bbb-8284-a0766e6fa14c
      version: -1
      name: Tags
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
      - "34"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1701,
          "y": 1291
        }
      }
    note: false
  "33":
    id: "33"
    taskid: 6cbbe18f-cef9-4a79-8d94-055a2e45f6f4
    type: regular
    task:
      id: 6cbbe18f-cef9-4a79-8d94-055a2e45f6f4
      version: -1
      name: Key
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "47"
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: Tags.Key=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: Tags":\[{"Key":\"(.*?)\"\,"Value":\"(.*?)\"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1883,
          "y": 1435
        }
      }
    note: false
  "34":
    id: "34"
    taskid: f713a740-d8c9-4ae7-8605-2babae023de7
    type: regular
    task:
      id: f713a740-d8c9-4ae7-8605-2babae023de7
      version: -1
      name: Value
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "47"
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: Tags.Value=
      flags: {}
      group:
        simple: "2"
      regex:
        simple: Tags":\[{"Key":\"(.*?)\"\,"Value":\"(.*?)\"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1464,
          "y": 1435
        }
      }
    note: false
  "35":
    id: "35"
    taskid: 78e71345-adda-4fe6-8e8b-427c2e48a922
    type: title
    task:
      id: 78e71345-adda-4fe6-8e8b-427c2e48a922
      version: -1
      name: IamInstanceProfile
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "36"
      - "37"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1701,
          "y": 1653
        }
      }
    note: false
  "36":
    id: "36"
    taskid: c9f6488c-542e-41ad-8ea5-ba8f82aa8546
    type: regular
    task:
      id: c9f6488c-542e-41ad-8ea5-ba8f82aa8546
      version: -1
      name: Id
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.IamInstanceProfile.Id=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"IamInstanceProfile":{"Id":\"(.*?)\"\,"Arn":\"(.*?)\"\}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1922,
          "y": 1793
        }
      }
    note: false
  "37":
    id: "37"
    taskid: 21c459c9-1143-457a-8699-430429880c87
    type: regular
    task:
      id: 21c459c9-1143-457a-8699-430429880c87
      version: -1
      name: Arn
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.IamInstanceProfile.Arn=
      flags: {}
      group:
        simple: "2"
      regex:
        simple: '"IamInstanceProfile":{"Id":\"(.*?)\"\,"Arn":\"(.*?)\"\}'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1485,
          "y": 1793
        }
      }
    note: false
  "38":
    id: "38"
    taskid: 5b38911f-0c56-49d7-886a-6151f83d774e
    type: regular
    task:
      id: 5b38911f-0c56-49d7-886a-6151f83d774e
      version: -1
      name: Instance State
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.InstanceState=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: '"InstanceState":(.*?)\,'
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1922,
          "y": 1993
        }
      }
    note: false
  "39":
    id: "39"
    taskid: c1da1cf5-4b29-4981-87e4-48b819fd996c
    type: regular
    task:
      id: c1da1cf5-4b29-4981-87e4-48b819fd996c
      version: -1
      name: Delete Context
      script: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "25"
      - "26"
      - "1"
      - "3"
      - "41"
    scriptarguments:
      all:
        simple: "yes"
      key: {}
      keysToKeep: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -564,
          "y": 42
        }
      }
    note: false
  "40":
    id: "40"
    taskid: 7de65d4c-2e90-4024-8d33-41fd39d1e64f
    type: title
    task:
      id: 7de65d4c-2e90-4024-8d33-41fd39d1e64f
      version: -1
      name: close investigation
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1922,
          "y": 2230
        }
      }
    note: false
  "41":
    id: "41"
    taskid: 7eaab384-2b0f-49be-8a5f-9472c7f33f58
    type: regular
    task:
      id: 7eaab384-2b0f-49be-8a5f-9472c7f33f58
      version: -1
      name: Extract Private IP
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.PrivateIP=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: PrivateIpAddress":\"(.*?)\"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 877,
          "y": 275
        }
      }
    note: false
  "42":
    id: "42"
    taskid: 0fc9f3eb-0fc0-4873-8851-da131a306921
    type: regular
    task:
      id: 0fc9f3eb-0fc0-4873-8851-da131a306921
      version: -1
      name: Private DNS
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.PrivateDNSName=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: PrivateDnsName":\"(.*?)\"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 877,
          "y": 463
        }
      }
    note: false
  "43":
    id: "43"
    taskid: 7cebda85-1e42-4784-84a1-f9c60cd43d5c
    type: regular
    task:
      id: 7cebda85-1e42-4784-84a1-f9c60cd43d5c
      version: -1
      name: Public DNS
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Resource}
      extend-context:
        simple: AssetDetails.PublicDNSName=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: PublicDnsName":\"(.*?)\"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 628,
          "y": 585
        }
      }
    note: false
  "44":
    id: "44"
    taskid: 7a995113-a829-4da1-89f6-94a371f1f041
    type: regular
    task:
      id: 7a995113-a829-4da1-89f6-94a371f1f041
      version: -1
      name: Protocol
      script: MatchRegex
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      contextKey: {}
      data:
        simple: ${incident.labels.Service}
      extend-context:
        simple: PortDetails.Protocol=
      flags: {}
      group:
        simple: "1"
      regex:
        simple: Protocol":\"(.*?)\"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -970,
          "y": 686
        }
      }
    note: false
  "45":
    id: "45"
    taskid: f3b7be83-0198-43b9-80a1-e8bb9f8bbd53
    type: regular
    task:
      id: f3b7be83-0198-43b9-80a1-e8bb9f8bbd53
      version: -1
      name: Convert AssetDetails to HTML Format
      script: ConvertTableToHTML
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      extend-context: {}
      table:
        simple: ${AssetDetails}
      title:
        simple: Asset Details
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 321,
          "y": 1774
        }
      }
    note: false
  "47":
    id: "47"
    taskid: 45b7080d-d46e-45e0-8950-ad442c608863
    type: regular
    task:
      id: 45b7080d-d46e-45e0-8950-ad442c608863
      version: -1
      name: Assign
      script: 09c6f286-09be-4d54-89c8-bdc1d7047cff
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      extend-context:
        simple: AssetDetails.Tags=
      left:
        simple: ${Tags.Key}
      right:
        simple: ${Tags.Value}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -1126,
          "y": 1647
        }
      }
    note: false
  "48":
    id: "48"
    taskid: e772ba82-2a17-4aa5-871d-744d0c165eaa
    type: condition
    task:
      id: e772ba82-2a17-4aa5-871d-744d0c165eaa
      version: -1
      name: Check whether  IP is in WatchList?
      script: FilterByList
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      List.In:
      - "49"
      List.NotIn:
      - "7"
    scriptarguments:
      extend-context: {}
      listname:
        simple: suspiciousip
      values:
        simple: ${AssetDetails.PublicIP}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1326,
          "y": 1380
        }
      }
    note: false
  "49":
    id: "49"
    taskid: dfb49254-3f90-4955-89ff-9d93dabfaf22
    type: regular
    task:
      id: dfb49254-3f90-4955-89ff-9d93dabfaf22
      version: -1
      name: Don't add IP in Watchlist
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1602,
          "y": 1592
        }
      }
    note: false
  "50":
    id: "50"
    taskid: 494a24e0-ad21-4089-8591-57fba692fc0d
    type: regular
    task:
      id: 494a24e0-ad21-4089-8591-57fba692fc0d
      version: -1
      name: Convert PortDetails to HTML Format
      script: ConvertTableToHTML
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      extend-context: {}
      table:
        simple: ${PortDetails}
      title:
        simple: Port Details
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 321,
          "y": 1947
        }
      }
    note: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2502,
        "width": 4245,
        "x": -2263,
        "y": -112
      }
    }
  }
inputs: []
outputs: []
